@model DataLayer.Data.RegistryEntity

@{
    ViewData["Title"] = "RegisterOffender";
}
<div>
    <h1>Registra trasgressore</h1>
    <hr />
    <div class="row ">
        <div class="col-md-4 custom-container offset-md-3 ">
            <form asp-action="RegisterOffender">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label "></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cap" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="Cap" class="form-control" />
                    <span asp-validation-for="Cap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodiceFiscale" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="CodiceFiscale" class="form-control" />
                    <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
                </div>
                <div class="form-group pt-4 d-flex justify-content-center">
                    <input type="submit" value="Registra" class="btn btn-outline-light" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
