<div>
    <div class="col-12">
        <h1>Altre Operazioni</h1>
    </div>
    <hr />
    <div class="col-12 custom-container mt-5">
        <h4 class="custom-border">Violazioni con importo superiore ai 400 euro</h4>
        <p>Clicca sul bottone qui sotto</p>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Violation" asp-action="ViolationsOver400">Vai</a>
    </div>
    <div class="col-12 custom-container mt-5">
        <h4 class="custom-border">Tutte le violazioni raggrupppate per trasgressore</h4>
        <p>Clicca sul bottone qui sotto</p>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Verbal" asp-action="TotalByTrasgressor">Vai</a>
    </div>
    <div class="col-12 custom-container mt-5">
        <h4 class="custom-border">Punti decurtati per ogni trasgressore</h4>
        <p>Clicca sul bottone qui sotto</p>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Verbal" asp-action="TotalPointsByTrasgressor">Vai</a>
    </div>
    <div class="col-12 custom-container mt-5">
        <h4 class="custom-border">Violazioni che superano i 10 punti</h4>
        <p>Clicca sul bottone qui sotto</p>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Verbal" asp-action="ViolationsOver10Points">Vai</a>
    </div>
</div>