@model DataLayer.Data.VerbalEntity

@{
    ViewData["Title"] = "CreateVerbal";
}
<div>
    <h1>Crea Verbale</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 custom-container offset-md-3 ">
            <form asp-action="CreateVerbal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ViolationData" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="ViolationData" class="form-control" />
                    <span asp-validation-for="ViolationData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ViolationAddress" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="ViolationAddress" class="form-control" />
                    <span asp-validation-for="ViolationAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OfficerName" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="OfficerName" class="form-control" />
                    <span asp-validation-for="OfficerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VerbalTranscription" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="VerbalTranscription" class="form-control" />
                    <span asp-validation-for="VerbalTranscription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LicencePoints" class="control-label"></label>
                    <div class="custom-border-2"></div>
                    <input asp-for="LicencePoints" class="form-control" />
                    <span asp-validation-for="LicencePoints" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ContestedTicket" /> @Html.DisplayNameFor(model => model.ContestedTicket)
                    </label>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Crea" class="btn btn-outline-light" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
