@model IEnumerable<DataLayer.Data.PointsSummary>

@{
    ViewData["Title"] = "TotalPointsByTrasgressor";
}

<h1>Punti decurtati per ogni trasgressore </h1>
<hr />
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
               Nome e cognome
            </th>
            <th>
               Punti totali decurtati
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OffenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
        </tr>
}
    </tbody>
</table>
