@model IEnumerable<DataLayer.Data.VerbalSummary>

@{
    ViewData["Title"] = "TotalByTrasgressor";
}

<h1>Tutte le violazioni raggrupppate per trasgressore</h1>
<hr />
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
                Nome e cognome
            </th>
            <th>
               Totale Violazioni
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OffenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVerbalCount)
            </td>
        </tr>
}
    </tbody>
</table>
